.planWrapper{
    background-color: white;
    margin-top: 20px;
    padding: 30px;
    padding-top: 50px;
    border-radius: 10px;
    margin-bottom: 30px;
    width: 70vw;
}

.createPlan{
    width: 70vw;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

}

.createPlan button{
    border: none;
    font-weight: 500;
    color: white;
    background: #FDAD00;
    width: 150px;
    height: 50px;
    margin-right: 5px;
    border-radius: 5px;
    filter: drop-shadow(1px 2px 1px rgba(255, 255, 255, 0.253));
    outline: none;
}