.addInvestmentBtn button{
background: #FDAD00;
box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.23);
border-radius: 4px;
padding: 10px;
color: white;
margin-bottom: 30px;
}

.board-switcher{
  display: flex;
}

.board-switcher-header{
  margin-right: 10px;
}

.category-options{
  margin-right: 15px;
  font-weight: normal;
font-size: 16px;
line-height: 22px;
letter-spacing: 0.01em;
color: #6A707E;
}

.active-cat{
  width: 100%;
  height: 1.5px;
  background-color: #FDAD00;
  position: relative;
  top: 5px;
  z-index: 9;
}

.switch-demacator{
  width: 100%;
  background: rgba(196, 196, 196, 0.5);
  height: 1.4px;
  margin-top: 3px;
}

.cat-one{
  font-size: 16px;
line-height: 22px;
letter-spacing: 0.01em;
color: #6A707E;
cursor: pointer;
}

.setionTable-real-estate{
  background-color: white;
  width: 100%;
  padding: 30px 30px 30px 30px;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 50px;
}

.add-investment-wrap{
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.add-investment-wrap h1{
  font-weight: 600;
font-size: 18px;
line-height: 20px;
color: #000022;
margin-bottom: 30px;
}


.add-investment-wrap label{
  font-weight: normal;
font-size: 15px;
line-height: 20px;
color: #002333;
margin-bottom: 15px;
}

.add-investment-wrap select{
  width: 100%;
  background: #FCFCFD;
border: 1px solid rgba(207, 208, 215, 0.5);
box-sizing: border-box;
border-radius: 2px;
height: 50px;
padding-left: 10px;
outline: navajowhite;
}
.add-investment-wrap select option{
  height: 30px;
  color: #707683;
  padding: 10px;
}

.add-investment-wrap button{
  background: #FDAD00;
border-radius: 4px;
width: 100%;
margin-top: 15px;
height: 45px;
color: white;
font-weight: 600;
}

.add-investment-details-wrap{
 padding: 10px 10px 10px 20px;
}

.investment-details-input-wrap{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 15px;
}

.investment-details-input-wrap input{
width: 100%;
background: #FCFCFD;
border: 1px solid rgba(207, 208, 215, 0.5);
border-radius: 4px;
height: 45px;
}

.investment-details-input-wrap input::placeholder{
  font-size: 13px;
  padding-left: 3px;
}

.investment-details-input-wrap textarea::placeholder{
  font-size: 13px;
  padding-left: 8px;
}



.investment-details-input-wrap select {
  font-size: 13px;
  padding-left: 3px;
  outline: none;
}

.investment-details-input-wrap textarea{
  width: 100%;
  background: #FCFCFD;
  border: 1px solid rgba(207, 208, 215, 0.5);
  border-radius: 4px;
  height: 105px;
  }

  .viewInvestMent-header{
    text-align: center;
    font-weight: 600;
font-size: 24px;
line-height: 33px;
letter-spacing: 0.01em;
color: #6A707E;
margin-top: 15px;
  }


  .investment-details-input-wrap select{
    width: 100%;
    background: #FCFCFD;
    border: 1px solid rgba(207, 208, 215, 0.5);
    border-radius: 4px;
    height: 45px;
    }

    .investment-details-input-wrap label{
    font-size: 15px;
    color: #6A707E;
      }

.add-investment-details-wrap .submit-investment-btn{
  background: #FDAD00;
  border-radius: 4px;
  width: 100%;
  margin-top: 15px;
  height: 45px;
  color: white;
  font-weight: 600;
}

.upload-investment-details{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.uploadInvesmet-input-submit{
  position: relative;
}

.uploadInvesmet-input-submit input{
  position: absolute;
  left: 0;
  opacity: 0;
}

.uploadInvesmet-input-submit button{
 width: 120px;
 background: #C2CFE0;
border-radius: 4px;
color: #555555;
font-weight: 600;
height: 50px;
margin-right: 10px;
cursor: pointer;
}

.funding-opt-wrap{
  width: 80%;
  background-color: white;
  border-radius: 5px;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.funding-inputes{
  width: 50%;
  background-color: white;
  padding-left: 40px;
  padding-top: 30px;
  border-radius: 5px;
}

.funding-industry-tags{
  display: flex;
  flex-wrap: wrap; 
  width: 100%;
}

.funding-industry-tags-span{
background-color: orange;
width: fit-content;
padding: 10px;
margin-right: 5px;
margin-bottom: 5px;
color: #334D6E;
background: rgba(253, 173, 0, 0.57);
border-radius: 4px;
font-weight: 500;
}

.funding-industry-tags-span .x{
color: red;
font-weight: 600;
  }

  .funding-industry-div{
    display: flex;
    margin-bottom: 10px;
  }

  .funding-industry-div button{
   background-color: orange;
   color: white;
   width: 60px;
   border-radius: 0px 5px 5px 0;
  }

  .fundingOp-btn{
    width: 100%;
  }

  .fundingOp-btn button{
    background: #FDAD00;
  border-radius: 4px;
  width: 100%;
  margin-top: 15px;
  height: 45px;
  color: white;
  font-weight: 600;
  }

  .wrap-op-2{
    background-color: white;
    width: 50vw;
    border-radius: 5px;
    padding: 20px 50px 20px 50px;
    margin-bottom: 20px;
  }

  .wrap-op2-head {
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(7, 7, 7, 0.192);
    margin-bottom: 20px;
  }

  .wrap-op2-head h1{
    font-size: 21px;
    font-weight: 600;
    color: #6A707E;
  }