html{
  overflow-x: hidden;
  width: 100vw;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden ;
  width: 100vw;
}
/* .modal{
  overflow: hidden !important;
  overflow-y: scroll !important;
} */
.modal{
  overflow: hidden !important;
  overflow-y: scroll !important;
}




@font-face {
  font-family: openSansBold;
  src: url(../src/components/fonts/OpenSans-Bold.ttf);
}

@font-face {
  font-family: openSansLight;
  src: url(../src/components/fonts/OpenSans-Light.ttf);
}


@font-face {
  font-family: openSansRegular;
  src: url(../src/components/fonts/OpenSans-Regular.ttf);
}
button{
  outline: none !important;
  border: none !important;
}

input{
  outline: none;
}

h1,h2,h3,h4,h5,h6{
  font-family: openSansRegular;
}

p{
  font-family:openSansRegular ;
}

li,div,td,th,tbody{
  font-family:openSansRegular ;
}

span{
  font-family:openSansRegular ;
}


input:focus
{
         outline: none !important;
         box-shadow: none;
}

textarea:focus
{
         outline: none !important;
         box-shadow: none;
}

textarea:active
{
         outline: none !important;
         box-shadow: none;
}

textarea
{
         outline: none !important;
         box-shadow: none;
}



.previewImgData{
  width: 70px;
  height: 70px;
  margin-bottom: 20px;
}

.table-responsivee{
  background: white;
    padding: 31px;
    border-radius: 5px;
    width: 100%;
}

i{
  cursor: pointer !important;
  margin-right: 5px;
}

.btn-secondary{
  /* background-color: red; */
}

.table-wrap {
  padding: 50px;
  background-color: white;
  width: -moz-fit-content;
  width: 95%;
  margin-bottom: 40px;
  border-radius: 5px;
  margin-top: 15px;
}

table{
  width: fit-content;
}