body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}
/* .modal{
  overflow: hidden !important;
  overflow-y: scroll !important;
} */
.modal{
  overflow: hidden !important;
  overflow-y: scroll !important;
}




@font-face {
  font-family: openSansBold;
  src: url(../src/components/fonts/OpenSans-Bold.ttf);
}

@font-face {
  font-family: openSansLight;
  src: url(../src/components/fonts/OpenSans-Light.ttf);
}


@font-face {
  font-family: openSansRegular;
  src: url(../src/components/fonts/OpenSans-Regular.ttf);
}

h1,h2,h3,h4,h5,h6{
  font-family: openSansBold;
}

p{
  font-family:openSansRegular ;
}

li,div,td,th,tbody{
  font-family:openSansRegular ;
}

span{
  font-family:openSansLight ;
}


input:focus
{
         outline: none !important;
         box-shadow: none;
}

textarea:focus
{
         outline: none !important;
         box-shadow: none;
}

textarea:active
{
         outline: none !important;
         box-shadow: none;
}

textarea
{
         outline: none !important;
         box-shadow: none;
}



.previewImgData{
  width: 70px;
  height: 70px;
  margin-bottom: 20px;
}

.table-responsivee{
  background: white;
    padding: 31px;
    border-radius: 5px;
    width: 70vw;
}

i{
  cursor: pointer !important;
  margin-right: 5px;
}

.btn-secondary{
  /* background-color: red; */
}