body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
input:focus
{
         outline: none !important;
         box-shadow: none;
}

textarea:focus
{
         outline: none !important;
         box-shadow: none;
}

textarea:active
{
         outline: none !important;
         box-shadow: none;
}

textarea
{
         outline: none !important;
         box-shadow: none;
}



.previewImgData{
  width: 70px;
  height: 70px;
  margin-bottom: 20px;
}

.table-responsivee{
  background: white;
    padding: 31px;
    border-radius: 5px;
    width: 70vw;
}

i{
  cursor: pointer !important;
  margin-right: 5px;
}